<p>booking works!</p>
<section>
    <form [formGroup]="bookRoom">
        <section fxLayout="row" fxLayoutGap="50px">
            <mat-form-field>
                <mat-label>Person Name</mat-label>
                <input matInput placeholder="Person Name" formControlName="name">
                <mat-error *ngIf="bookRoom.get('name').errors?.required && bookRoom.get('name').touched">
                    Please enter Person Name</mat-error>
                <mat-error *ngIf="bookRoom.get('name').hasError('pattern')">Please enter alphabates only
                </mat-error>
            </mat-form-field>            
            <mat-form-field>
                <mat-label>No of Person</mat-label>
                <input matInput placeholder="Number of Person" formControlName="noOfPerson" maxlength="1">
                <mat-error *ngIf="bookRoom.get('noOfPerson').errors?.required && bookRoom.get('contactNo').touched">
                    Please enter contact number.</mat-error>
                <mat-error *ngIf="bookRoom.get('noOfPerson').hasError('pattern')">Please enter valid contact number.
                </mat-error>
            </mat-form-field>
        </section>        <section>
            <mat-form-field>
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="startDate" placeholder="Start Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="bookRoom.get('startDate').errors?.required && bookRoom.get('startDate').touched">Please
                    enter start date</mat-error>
            </mat-form-field>            <mat-form-field>
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="endDate" placeholder="End Date">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error *ngIf="bookRoom.get('endDate').errors?.required && bookRoom.get('endDate').touched">Please
                    enter date</mat-error>
            </mat-form-field>
        </section>        <section>
                <mat-form-field>
                        <mat-label>Contact Number</mat-label>
                        <input matInput placeholder="Contact Number" formControlName="contactNo">
                        <mat-error
                            *ngIf="bookRoom.get('contactNo').errors?.required && bookRoom.get('contactNo').touched">
                            Please enter contact number.</mat-error>
                        <mat-error *ngIf="bookRoom.get('contactNo').hasError('pattern')">Please enter valid contact number.
                        </mat-error>
                    </mat-form-field>
                </section>
                    <section>
                            <mat-checkbox formControlName="others" *ngFor="let ot of others" ngInit="checked=true">{{ot.name}}</mat-checkbox>
 </section>
 <section mat-dialog-actions>
        <button mat-raised-button (click)="onBooking()" [disabled]="!bookRoom.valid">Submit</button>
        <button mat-button (click)="onCancel()">Close</button>
      </section>
    </form>
 </section>